{% extends "AcmeAuthBundle::layout.html.twig" %}
{% block title "Вход в систему" %}
    {% block content %}
        <style>
            ul li, #block-error {
                color : red;
            }
            #block-recovery {
                display: none;
            }

        </style>
        {% form_theme formLogin "TwigBundle::layout.html.twig" %}
        <div class="row">
            <span id="block-error">{{ errorData }}</span>
            {{ form_start(formLogin) }}
            {{ form_errors(formLogin.fieldEmail) }}
            <div class="form-group">
                {{ form_widget(formLogin.fieldEmail) }}
            </div>
            {{ form_errors(formLogin.fieldPass) }}
            <div class="form-group">
                {{ form_widget(formLogin.fieldPass) }}
            </div>
            <div class="row col-xs-12">
            {% block captcha %}
                <div>
                    {% if captchaError %}
                        <p class="error-message"><span style="color:red" class="icon-warning">{{ captchaError|raw }}</span></p>
                    {% endif %}
                    {{ captcha|raw }}
                </div>
            {% endblock %}
            </div>
            <div class="row col-xs-12">
                <div class="col-xs-2">
                    <label for="formLogin_enter" class="btn btn-success">&nbspВойти</label>
                    {{ form_widget(formLogin.enter) }}
                </div>
                <div class="col-xs-3">
                    <a class="btn btn-success" id="btn-reg" href="{{ path('login') }}">&nbspРегистрация</a>
                </div>
                <div class="col-xs-4">
                    <a class="btn btn-success" id="btn-back" href="{{ path('login') }}">&nbspВернуться на сайт</a>
                </div>
                <div class="col-xs-3">
                    <p><a href="#" class="link-forget-password">Забыли пароль?</a></p>
                    <p><a href="{{ path('recovery_email') }}">Забыли почту?</a></p>
                </div>
            </div>
            {{ form_end(formLogin) }}
        </div>
        {% form_theme formRecovery "TwigBundle::layout.html.twig" %}
        <div class="row" id="block-recovery">
            {{ form_start(formRecovery, { 'attr': {'class': 'form-inline', 'id': 'form-recovery'} }) }}
            <div class="form-group">
                {{ form_errors(formRecovery.fieldSurname) }}
                {{ form_widget(formRecovery.fieldSurname) }}
            </div>
            <div class="form-group">
                {{ form_errors(formRecovery.fieldName) }}
                {{ form_widget(formRecovery.fieldName) }}
            </div>
            <div class="form-group">
                {{ form_errors(formRecovery.fieldPatronymic) }}
                {{ form_widget(formRecovery.fieldPatronymic) }}
            </div>
            {{ form_widget(formRecovery.fieldEmail) }}
            {{ form_end(formRecovery) }}
            <p>Укажите почту, ФИО и снова нажмите <a href="#" class="link-forget-password">Забыли пароль?</a> после чего пароль будет выслан вам на почту.</p>
        </div>
    <script>
        $(document).ready(function() {
            var c = 0;
            $(".link-forget-password").on('click', function() {
                if (!c) {
                    c++;
                    $("#block-recovery").toggle();
                } else {
                    $("#form-recovery").submit();
                }
            });
        });
    </script>
    {% endblock %}
