{% extends "AcmeAuthBundle::layout.html.twig" %}
    {% block title "Личный кабинет" %}
        {% block content %}
            <script type="text/javascript" src="{{ asset('bundles/js/bootstrap-datepicker.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/js/locales/bootstrap-datepicker.ru.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/js/jqgrid/i18n/grid.locale-ru.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/js/jqgrid/jquery.jqGrid.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/js/jqgrid/jquery.jqGrid.fmatter.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/js/emotions/jquery.cssemoticons.min.js') }}"></script>
            <link rel="stylesheet" href="{{ asset('bundles/css/datepicker.css') }}" />
            <link rel="stylesheet" href="{{ asset('bundles/css/datepicker3.css') }}" />
            <link rel="stylesheet" href="{{ asset('bundles/css/jqgrid/custom-theme1/jquery-ui-1.10.3.custom.css') }}" />
            <link rel="stylesheet" href="{{ asset('bundles/css/jqgrid/ui.jqgrid.css') }}" />
            <link rel="stylesheet" href="{{ asset('bundles/css/emotions/jquery.cssemoticons.css') }}" />
            <style>
                .thumbnail-image{
                    padding-top: 20px;
                }
                ul li{
                    color: red;
                }
                .row label.required:after {
                    content: "*";
                }
                #block-change-password {
                    display: none;
                }
                #block-messages, #block-talk, #block-messages-sort, #block-form-message-talk {
                    display: none;
                }
                .alt-row {
                    background: #f3f3f3 none;
                }
                #t_list-messages, #t_list-talk {
                    height: auto;
                }
            </style>
            <div class="container">
                <div class="row">
                    <div class="">
                        <p>Личный кабинет</p>
                    </div>
                </div>
                <div class="btn-group" data-toggle-name="profile_options" data-toggle="buttons-radio">
                    <button type="button" value="profile" data-toggle="button" class="btn btn-primary active">Мой профиль</button>
                    <button type="button" value="messages" data-toggle="button" class="btn btn-primary">Сообщения&nbsp;<span class="badge">{{ messages.total }}</span></button>
                </div>
                <div id="block-form-profile">
                    {% form_theme formProfile "TwigBundle::layout.html.twig" %}
                    <div class="row">
                        {{ form_start(formProfile, { 'attr': {'class': '', 'id': 'form-reg'} }) }}
                        <p>Профиль</p>
                        {{ form_errors(formProfile) }}
                        <div class="form-inline">
                            <div class="form-group">
                                {{ userPhoto|raw }}
                                <label for="formProfile_fieldPhoto" class="btn btn-success">&nbspСменить</label>
                                {{ form_widget(formProfile.fieldPhoto) }}
                            </div>
                            <div class="form-group">
                                {{ form_errors(formProfile.fieldSurname) }}
                                {{ form_widget(formProfile.fieldSurname) }}
                            </div>
                            <div class="form-group">
                                {{ form_errors(formProfile.fieldName) }}
                                {{ form_widget(formProfile.fieldName) }}
                            </div>
                            <div class="form-group">
                                {{ form_errors(formProfile.fieldPatronymic) }}
                                {{ form_widget(formProfile.fieldPatronymic) }}
                            </div>
                        </div>
                        {% if user.userrole.code == 'admin' or user.userrole.code == 'student' or user.userrole.code == 'employee' or user.userrole.code == 'developer' %}
                            <div class="form-group">
                                {{ form_errors(formProfile.fieldInstitute) }}
                                {{ form_widget(formProfile.fieldInstitute) }}
                            </div>
                            <div class="form-group">
                                {{ form_errors(formProfile.fieldChair) }}
                                {{ form_widget(formProfile.fieldChair) }}
                            </div>
                        {% endif %}
                        {% if user.userrole.code == 'admin' or user.userrole.code == 'student' or user.userrole.code == 'developer' %}
                            <div class="form-group">
                                {{ form_errors(formProfile.fieldSpeciality) }}
                                {{ form_widget(formProfile.fieldSpeciality) }}
                            </div>
                            <div class="form-inline">
                                <div class="form-group">
                                    {{ form_errors(formProfile.fieldGroup) }}
                                    {{ form_widget(formProfile.fieldGroup) }}
                                </div>
                                <div class="form-group">
                                    {{ form_errors(formProfile.fieldCourse) }}
                                    {{ form_widget(formProfile.fieldCourse) }}
                                </div>
                            </div>
                        {% endif %}
                        {% if user.userrole.code == 'employee' or user.userrole.code == 'developer' or user.userrole.code == 'admin' %}
                            <div class="form-group">
                                {{ form_errors(formProfile.fieldWork) }}
                                {{ form_widget(formProfile.fieldWork) }}
                            </div>
                        {% endif %}
                        <div class="form-group">
                            {{ form_errors(formProfile.fieldDateBirthday) }}
                            {{ form_widget(formProfile.fieldDateBirthday) }}
                        </div>
                        <div class="form-group">
                            {{ form_errors(formProfile.fieldPhone) }}
                            {{ form_widget(formProfile.fieldPhone) }}
                        </div>
                        <div class="form-group">
                            {{ form_errors(formProfile.fieldAbout) }}
                            {{ form_widget(formProfile.fieldAbout) }}
                        </div>
                        <div class="form-inline">
                            <div class="form-group">
                                {{ form_errors(formProfile.fieldEmail) }}
                                {{ form_widget(formProfile.fieldEmail) }}
                            </div>
                            <div class="form-group">
                                {{ form_widget(formProfile.fieldIsShowEmail) }}
                                {{ form_label(formProfile.fieldIsShowEmail) }}
                            </div>
                        </div>
                        <div class="form-inline">
                            <div class="form-group">
                                <button id="btn-change-password" type="button" class="btn btn-success">Сменить пароль</button>
                            </div>
                            <div class="form-group">
                                <div class="form-inline" id="block-change-password">
                                    <div class="form-group">
                                        {{ form_errors(formProfile.fieldPassOld) }}
                                        {{ form_widget(formProfile.fieldPassOld) }}
                                    </div>
                                    <div class="form-group">
                                        {{ form_errors(formProfile.fieldPassNew) }}
                                        {{ form_widget(formProfile.fieldPassNew) }}
                                    </div>
                                    <div class="form-group">
                                        {{ form_errors(formProfile.fieldPassApprove) }}
                                        {{ form_widget(formProfile.fieldPassApprove) }}
                                    </div>
                                    <div class="form-group">
                                        <label for="formProfile_saveNewPassword" class="btn btn-success">&nbspСменить пароль</label>
                                        {{ form_widget(formProfile.saveNewPassword) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{ form_widget(formProfile.fieldTypeProfile) }}
                        {{ form_widget(formProfile.fieldUserId) }}
                        <div>
                            {{ form_row(formProfile.fieldPassApprove) }}
                        </div>
                        <div class="form-group">
                            <label for="formProfile_save" class="btn btn-success">&nbspСохранить изменения</label>
                            {{ form_widget(formProfile.save) }}
                            <label for="formProfile_writeNewMessage" class="btn btn-success">&nbspНаписать сообщение</label>
                            {{ form_widget(formProfile.writeNewMessage) }}
                            <label for="formProfile_deleteUser" class="btn btn-success">&nbspУдалить пользователя</label>
                            {{ form_widget(formProfile.deleteUser) }}
                            <label for="formProfile_back" class="btn btn-success">&nbspВернуться на сайт</label>
                            {{ form_widget(formProfile.back) }}
                        </div>
                        {{ form_end(formProfile) }}
                    </div>
                </div>
                <div id="block-messages-sort">
                    <div class="row">
                        <div class="btn-group" data-toggle-name="messages_options" data-toggle="buttons-radio">
                            <button type="button" value="support" data-toggle="button" class="btn btn-primary active">Тех поддержка&nbsp;<span class="badge">{{ messages.support }}</span></button>
                            <button type="button" value="private" data-toggle="button" class="btn btn-primary active">Личные&nbsp;<span class="badge">{{ messages.private }}</span></button>
                            <button type="button" value="chair" data-toggle="button" class="btn btn-primary active">Кафедра&nbsp;<span class="badge">{{ messages.chair }}</span></button>
                            {% if user.userrole.code == 'admin' %}
                                <button type="button" value="request" data-toggle="button" class="btn btn-primary active">Заявки на регистрацию&nbsp;<span class="badge">{{ messages.request }}</span></button>
                            {% endif %}
                            <input id="messages-options" type="hidden">
                        </div>
                    </div>
                </div>
                <div id="block-messages">
                    <div class="row">
                        <p>Сообщения</p>
                        <div id="wrap-block-messages">
                            <div class="row">
                                <div style="float: left; width: 100%;margin: 10px;">
                                <table id="list-messages"></table>
                                <div id="pager-messages"></div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="block-talk">
                    <div class="row">
                        <p>Переписка</p>
                        <div id="wrap-block-message">
                            <div class="row">
                                <div style="float: left; width: 100%;margin: 10px;">
                                    <table id="list-talk"></table>
                                    {#<div id="pager-message"></div>#}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="block-form-message-talk">
                    {% form_theme formMessageTalk "TwigBundle::layout.html.twig" %}
                    <div class="row">
                        {{ form_start(formMessageTalk, { 'attr': {'class': '', 'id': ''} }) }}
                        {{ form_errors(formMessageTalk) }}
                        <div class="form-group">
                            {{ form_errors(formMessageTalk.fieldTheme) }}
                            {{ form_widget(formMessageTalk.fieldTheme) }}
                        </div>
                        <div class="form-group">
                            {{ form_errors(formMessageTalk.fieldMessage) }}
                            {{ form_widget(formMessageTalk.fieldMessage) }}
                        </div>
                        <div id="block-smiles" style="font-size: 20px;">
                            ?-) :)
                        </div>
                        <div class="form-inline">
                            <div class="form-group">
                                {{ form_widget(formMessageTalk.fieldShowAll) }}
                                {{ form_label(formMessageTalk.fieldShowAll) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="formProfile_save" class="btn btn-success">&nbspОтправить</label>
                            {{ form_widget(formMessageTalk.send) }}
                        </div>
                        {{ form_end(formMessageTalk) }}
                    </div>
                </div>
            </div>
            <script>
                jQuery(function ($) {
                    $.fn.button.noConflict();
                    var initGridMessages = function () {
                        var grid = $("#list-messages");
                        grid.jqGrid({
                            url: {{ path('secure_index') | json_encode | raw }},
                            datatype: 'json',
                            mtype: 'POST',
                            cache: true,
                            recordtext: "Просмотр сообщений {0} - {1}",
                            colNames:['id', 'ФИО', 'Дата и время', 'Тема', ''],
                            colModel :[
                                {name:'id',index:'id',key:true,hidden:true},
                                {name:'fio',index:'fio',width:100,align:'center',sortable:false,resizable:false,editable:false,search:true,searchoptions: { sopt: ['cn' ,'eq', 'ne']}/*,formatter:customNum*/},
                                {name:'date_write',width:160,align:'center',sortable:false,resizable:false,search:false,editable:false},
                                {name:'theme',width:150,align:'center',sortable:false,resizable:false,search:false,editable:false},
                                {name:'writerId',hidden:true}
                            ],
                            pager: $('#pager-messages'),
                            rowNum: 30,
                            rowList: [30, 45, 60],
                            viewrecords: true,
                            hidegrid: false,
                            height: 'auto',
                            altRows: true,
                            width: '1100',
                            toolbar: [true,"top"],
                            //shrinkToFit:false,
                            altclass: 'alt-row',
                            multiselect: true,
                            ignoreCase: true,
                            editurl: {{ path('secure_index') | json_encode | raw }},
                            //multikey: "ctrlKey",
                            // gridComplete: initMenu(),
                            loadComplete : function() {
                              /*  function getRowId(e) {
                                    var $td = $(e.target).closest('td'), $tr = $td.closest('tr.jqgrow'), rowId = $tr.attr('id');
                                    return rowId;
                                }
                                function getRow(a) {
                                    return a.parent().parent();
                                }*/
                                grid.find("tr").find("td").removeAttr('title');
                            },
                            onCellSelect: function(rowid, iCol) {
                                if (iCol == 4) {
                                    var rowData = grid.getRowData(rowid), writerId = rowData['writerId'];
                                    $("#block-messages").hide();
                                    $("#block-talk").show();
                                    $("#block-form-message-talk").show();
                                    initGridTalk(writerId);
                                }
                            }
                        }).navGrid('#pager',{view:false,del:true,search:false,add:false,edit:false,refresh:true,refreshtext:'Обновить',deltext:'Удалить'},
                                {},{},{},{},{}
                        );
                        $("#t_list-messages").append("<input type='button' value='Написать' style='height:auto;'/>");
                        $("#t_list-messages").append("<input type='button' id='btn-is-read' value='Отметить как прочитанное' style='height:auto;'/>");
                        $("#t_list-messages").append("<input id='field-search' type='text' placeholder='Поиск письма' style='height:auto;'/>");
                        $("#field-search").on("keydown", function(e) {
                            if (e.which == 13) {
                                var searchVal = $(this).val();
                                $.extend(grid[0].p.postData,{search:true,searchVal:searchVal});
                                grid.trigger("reloadGrid", [{ page: 1 }]);
                            }
                        });
                        $("#btn-is-read").on('click', function(){
                            var ids = grid.getGridParam('selarrrow');
                            if (ids.length > 0) {
                                var arrId = [];
                                for (var i=0, il=ids.length; i < il; i++) {
                                    var id = grid.getCell(ids[i], 'id');
                                    arrId.push(id);
                                }
                                $.post(grid.getGridParam('url'), {'oper':'readable','id':arrId.join(',')}, function() {
                                    grid.trigger('reloadGrid');
                                });
                            }
                        });
                    };
                    var initGridTalk = function (writerId) {
                        var grid = $("#list-talk");
                        grid.jqGrid({
                            url: {{ path('secure_talk') | json_encode | raw }},
                            datatype: 'json',
                            mtype: 'POST',
                            postData: {writerId : writerId},
                            recordtext: "Просмотр сообщений {0} - {1}",
                            colNames:['','ФИО', 'Сообщение', 'Дата и время', 'Удалить'],
                            colModel :[
                                {name:'id',index:'id',key:true,hidden:true},
                                {name:'fio',index:'fio',width:100,sortable:false,align:'center',resizable:false,editable:false,search:true},
                                {name:'message',width:200,align:'center',sortable:false,resizable:false,search:false,editable:false},
                                {name:'date_write',width:100,align:'center',sortable:false,resizable:false,search:false,editable:false},
                                {name:'delete',width:60,align:'center',sortable:false,resizable:false,search:false,editable:false,formatter:customDelete}
                            ],
                            rowNum: 100,
                            viewrecords: true,
                            hidegrid: false,
                            height: 'auto',
                            width: '1100',
                            altRows: true,
                            toolbar: [true,"top"],
                            altclass:'alt-row',
                            loadComplete : function() {
                                function getRowId(e) {
                                    var $td = $(e.target).closest('td'), $tr = $td.closest('tr.jqgrow'), rowId = $tr.attr('id');
                                    return rowId;
                                }
                                grid.find("tr").find("td").removeAttr('title');
                                $(".delete-message").click(function(e) {
                                    var rowId = getRowId(e);
                                    if (rowId) {
                                        $.post(grid.getGridParam('url'), {'oper':'delete-message','id':rowId}, function() {
                                            grid.trigger('reloadGrid');
                                        });
                                    }
                                });
                            },
                            /*onCellSelect: function(rowid, iCol) {
                                if (iCol == 4) {
                                    var rowData = grid.getRowData(rowid), writerId = rowData['writerId'];
                                    $("#block-messages").toggle();
                                    $("#block-talk").toggle();
                                    initGridTalk(writerId);
                                    //var num = $("tr.jqgrow#" + rowid).find('td').eq(1).find('span')[0].innerHTML, url = "{{ path("secure_author_order", {'num': 'num'}) }}";
                                    //location.href = url.replace("num", num);
                                }
                            }*/
                        });
                        $("#t_list-talk").append("<input type='button' id='btn-delete-talk' value='Удалить всю переписку' style='height:auto;float:right'/>");
                        $("#btn-delete-talk").on('click', function(){
                            $.post(grid.getGridParam('url'), {'oper':'delete-talk','id':writerId}, function() {
                                location.reload();
                            });
                        });
                    };
                    $('#formProfile_fieldDateBirthday').datepicker({
                        // daysOfWeekDisabled: "1",
                        // calendarWeeks: true,
                        todayHighlight: true,
                        format: "dd.mm.yyyy",
                        autoclose: true,
                        //startDate: '0d',
                        language: 'ru'
                        //todayBtn: true
                    });
                    $("#formProfile_fieldOptions").val('profile');
                    //$("#messages-options").val('profile');
                    $('div.btn-group[data-toggle-name]').eq(0).each(function () {
                        var group = $(this),
                        //form = group.parents('form').eq(0),
                                name = 'formProfile[fieldOptions]',
                        //hidden = $('input[name="' + name + '"]', form);
                                hidden = $('input[name="' + name + '"]');
                        $('button', group).each(function () {
                            var button = $(this);
                            button.live('click', function () {
                                hidden.val($(this).val());
                                group.find('.active').removeClass('active');
                                if (button.val() == hidden.val()) {
                                    button.addClass('active');
                                }
                                if (hidden.val() == 'messages') {
                                    initGridMessages();
                                    $("#block-form-profile").hide();
                                    $("#block-messages").show();
                                    $("#block-messages-sort").show();
                                } else {
                                    $("#block-form-profile").show();
                                    $("#block-messages").hide();
                                    $("#block-talk").hide();
                                    $("#block-messages-sort").hide();
                                }
                            });
                        });
                    });
                    $('div.btn-group[data-toggle-name]').eq(1).each(function () {
                        var group = $(this),
                        //form = group.parents('form').eq(0),
                                name = 'formProfile[fieldOptions]',
                        //hidden = $('input[name="' + name + '"]', form);
                                hidden = $('input[name="' + name + '"]');
                        group.find('.active').removeClass('active');
                        $('button', group).each(function () {
                            var button = $(this);
                            button.live('click', function () {
                                hidden.val($(this).val());
                                group.find('.active').removeClass('active');
                                if (button.val() == hidden.val()) {
                                    button.addClass('active');
                                }
                            });
                        });
                    });
                    $("#btn-change-password").on('click', function() {
                        $("#block-change-password").toggle();
                    });
                    $(".thumbnail").click(function() {
                        var img = $(this);
                        if (img.width() < 200) {
                            img.animate({width: "201px", height: 'auto'}, 1000);
                        } else {
                            img.animate({width: img.attr("width"), height: img.attr("height")}, 1000);
                        }
                    });
                    function customDelete() {
                        return ("<span class='glyphicon glyphicon-remove delete-message'></span>");
                    }
                    $('#block-smiles').emoticonize({
                        //delay: 800,
                        animate: false,
                        //exclude: 'pre, code, .no-emoticons'
                    });
/*                    $('#toggle-headline').toggle(
                            function(){
                                $('#large').unemoticonize({
                                    //delay: 800,
                                    //animate: false
                                })
                            },
                            function(){
                                $('#large').emoticonize({
                                    //delay: 800,
                                    //animate: false
                                })
                            }
                    );*/
                });
            </script>
        {% endblock %}