{% extends "AcmeAuthBundle::layout.html.twig" %}
    {% block title "Расписание занятий" %}
        {% block content %}
            <script type="text/javascript" src="{{ asset('bundles/js/schedule/dhtmlxscheduler.js') }}" media="screen" title="no title" charset="utf-8"></script>
            <script type="text/javascript" src="{{ asset('bundles/js/schedule/locale/locale_ru.js') }}" media="screen" title="no title" charset="utf-8"></script>
            <script type="text/javascript" src="{{ asset('bundles/js/schedule/dhtmlxscheduler_editors.js') }}" media="screen" title="no title" charset="utf-8"></script>
            <script type="text/javascript" src="{{ asset('bundles/js/schedule/dhtmlxcommon.js') }}" media="screen" title="no title" charset="utf-8"></script>
            <script type="text/javascript" src="{{ asset('bundles/js/schedule/dhtmlxCombo/dhtmlxcombo.js') }}" media="screen" title="no title" charset="utf-8"></script>
            <script type="text/javascript" src="{{ asset('bundles/js/schedule/dhtmlxcombo_extra.js') }}" charset="utf-8"></script>
            <script type="text/javascript" src="{{ asset('bundles/js/schedule/dhtmlx.js') }}"></script>
            {#<script type="text/javascript" src="{{ asset('bundles/js/schedule/dhtmlx.js') }}" media="screen" title="no title" charset="utf-8"></script>#}
           {# <script src="//code.jquery.com/jquery-1.10.2.js"></script>
            <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>#}
            <link rel="stylesheet" href="{{ asset('bundles/css/schedule/dhtmlxscheduler.css') }}" charset="utf-8" />
            <link rel="stylesheet" href="{{ asset('bundles/js/schedule/dhtmlxCombo/dhtmlxcombo.css') }}" charset="utf-8" />
            <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
            <link href="{{ asset('bundles/js/schedule/dhtmlx.css') }}" rel="stylesheet" type="text/css" />
            <div class="container">
                <style>
                    .dhtmlx_popup_text {
                        font-size: 13px;
                    }
                    .dhtmlx_popup_button {
                        height: 35px;
                    }
                    .dhx_scale_hour{
                        line-height:normal;
                    }
                    .dhx_combo_box.dhx_skyblue {
                        width: 590px !important;
                    }
                </style>
                <div class="row">
                    <div class="btn-group" data-toggle-name="profile_options" data-toggle="buttons-radio">
                        <button type="button" value="profile" data-toggle="button" class="btn btn-primary active">Расписание занятий</button>
                        <button type="button" value="messages" data-toggle="button" class="btn btn-primary">Расписание сессии и доп. занятий</button>
                    </div>
                </div>
                <div class="row">
                    <div class="btn-group" data-toggle-name="messages_options" data-toggle="buttons-radio">
                        <button type="button" value="support" data-toggle="button" class="btn btn-primary active">По группе</button>
                        <button type="button" value="private" data-toggle="button" class="btn btn-primary active">По преподавателю</button>
                        <button type="button" value="chair" data-toggle="button" class="btn btn-primary active">По предмету</button>
                        <button type="button" value="chair" data-toggle="button" class="btn btn-primary active">По аудитории</button>
                        <input id="messages-options" type="hidden">
                    </div>
                </div>
                <div id="combo_zone" style="width:230px;"></div>
                <div id="combo_zone3" style="width:230px;"></div>
                <div class="row">
                    <div id="scheduler_here" class="dhx_cal_container" style='width:100%; height:1200px;'>
                        <div class="dhx_cal_navline">
                            <div class="dhx_cal_prev_button">&nbsp;</div>
                            <div class="dhx_cal_next_button">&nbsp;</div>
                            <div class="dhx_cal_today_button"></div>
                            <div class="dhx_cal_date"></div>
                            <div class="dhx_cal_tab" name="day_tab" style="right:204px;"></div>
                            <div class="dhx_cal_tab" name="week_tab" style="right:140px;"></div>
                            <div class="dhx_cal_tab" name="month_tab" style="right:76px;"></div>
                        </div>
                        <div class="dhx_cal_header">
                        </div>
                        <div class="dhx_cal_data">
                        </div>
                    </div>
                </div>
            </div>
            <script>
                jQuery(function ($) {
                   /* $.fn.button.noConflict();*/
                    var step = 30, format = scheduler.date.date_to_str("%H:%i");
                    scheduler.config.xml_date="%Y-%m-%d %H:%i";
                    scheduler.config.first_hour = 8;
                    scheduler.config.last_hour = 21;
                    scheduler.config.time_step = 10;
                    scheduler.config.separate_short_events = true;
                    scheduler.config.auto_end_date = true;
                    scheduler.config.details_on_create = true;
                    scheduler.config.details_on_dblclick = true;
                    scheduler.config.hour_size_px = (60 / step) * 22;
                    scheduler.config.limit_time_select = true;
                    //scheduler.config.event_duration = 60;
                    scheduler.locale.labels.section_check_divide = "Разделить на 2 подгруппы";
                    scheduler.locale.labels.section_check_full = "Заполнить на последующие недели";
                    //scheduler.locale.labels.section_template = 'Details';
                    scheduler.locale.labels.section_subject = "Предмет";
                    scheduler.locale.labels.section_room = "Аудитория";
                    scheduler.locale.labels.section_user = "Преподаватель";
                    scheduler.locale.labels.section_type_lesson = "Тип занятия";
                    scheduler.locale.labels.section_group = "Группы";
                    scheduler.config.lightbox.sections = [
                       /* {name: "description", height: 100, map_to: "text", type: "textarea", focus: true},*/
                        { name: "check_divide", map_to: "even", type: "checkbox", checked_value: "1", unchecked_value: "0", height: 40 },
                        { name: "check_full", map_to: "odd", type: "checkbox", checked_value: "1", unchecked_value: "0", height: 60 },
                       // {name: "template", height: 40, type: "template", map_to: "my_template"},
                       /* { name: "description", height:200, *//*map_to:"text", *//*type:"my_editor" , focus:true},*/
                      /*  {name:"contact", height:103, map_to:"phone", type:"contact_view", focus:true},*/

                        { name:"subject", type:"comboAutocomplete", id:"subject", data: "schedule/data?p=subject" },
                        { name:"room", type:"comboAutocomplete", id:"room", data: "schedule/data?p=room" },
                        { name:"type_lesson", type:"comboAutocomplete", id:"type_lesson", data: "schedule/data?p=type_lesson" },
                        { name:"user", type:"comboAutocomplete", id:"user", data: "schedule/data?p=user" },
                        { name:"group", type:"comboAutocomplete", id:"group", data: "schedule/data?p=group" },

                        //{ name: "subject", map_to: "subject", type: "combo", script_path: "schedule/data?p=subject", height: 30, filtering: true},
                        //{ name: "room", map_to: "room", type: "combo", script_path: "schedule/data?p=room", height: 30, filtering: true},
                        //{ name: "type_lesson", map_to: "type_lesson", type: "combo", script_path: "schedule/data?p=type_lesson", height: 30, filtering: true},
                        //{ name: "user", map_to: "user", type: "combo", script_path: "schedule/data?p=user", height: 30, filtering: true},
                       // { name: "group", map_to: "gp", type: "combo", comboType: "checkbox", script_path: "schedule/data?p=group", height: 30, filtering: true},
                        { name: "time", height: 72, type: "time", map_to: "auto" }
                    ];
                    dhtmlx.image_path = "{{ asset('bundles/js/schedule/dhtmlxCombo/imgs/') }}";
                   /* var myCombo = new dhtmlXCombo("combo_zone", "combo", 230);
                    //console.log(myCombo);
                    myCombo.enableFilteringMode(true);
                    myCombo.clearAll();
                    dhtmlxAjax.get("schedule/data?p=subject", function(xml){
                        myCombo.loadXMLString(xml.xmlDoc.responseText);
                    });*/
                    var myCombo3 = new dhtmlXCombo("combo_zone3", null, 200, "checkbox");
                    myCombo3.loadXMLString('<complete>'+
                            '<option value="1">The Adventures of Tom Sawyer</option>'+
                            '<option value="2" checked="1">The Dead Zone</option>'+
                            '<option value="3" checked="1">The First Men in the Moon</option>'+
                            '</complete>');
                    //myCombo3.readonly(1);
                    myCombo3.enableFilteringMode(true);
                    myCombo3.enableOptionAutoHeight(1);

                    //combobox.setComboValue(value);
                    //combobox.selectOption(optionIndex);
                    /*myCombo.attachEvent("onDynXLS", myComboFilter);
                    function myComboFilter(text){
                        myCombo.clearAll();
                        dhtmlxAjax.get("schedule/data?p=subject", function(xml){
                            myCombo.setComboValue(xml.xmlDoc.responseText);
                        })
                    }*/
                    /*var z2 = new dhtmlXCombo("combo_zone3", "alfa3", 200, 'checkbox');
                    z2.addOption([[1, 1111], [2, 2222], [3, 3333], [4, 4444], [5, 5555]]);
                    z2.setChecked(1, true);
                    alert(z2.getChecked());*/

                    scheduler.form_blocks["comboAutocomplete"] = {
                        render: function(sns){
                            //console.log(sns);
                            var height=(sns.height||"23")+"px";
                            var html="<div data='"+sns.data+"' class='dhx_cal_ltext' style='height:"+height+";' id='"+scheduler.uid()+"'></div>";
                            return html;
                        },
                        set_value: function(node, value, ev) {
                            if (!node.combo) {
                                //console.log(value);
                                node.combo = new dhtmlXCombo(node.id, "combo", 590);
                                node.combo.enableFilteringMode(true);
                                node.combo.clearAll();
                                dhtmlxAjax.get(node.getAttribute("data"), function(xml){
                                    node.combo.loadXMLString(xml.xmlDoc.responseText);
                                });
                                /*node.combo = new dhtmlXCombo(node.id,"dummy","553px");
                                 node.combo.loadXML(node.getAttribute("data"),function(){
                                 node.combo.setComboValue(value||"");
                                 }); */
                                /* node.combo.load("schedule/data?p=subject", function(){
                                 node.combo.setComboValue(value||"");
                                 });*/
                                /* dhtmlxAjax.get("schedule/data?p=subject", function(xml){
                                 console.log(value);
                                 node.combo.setComboValue(value || "");
                                 });
                                 return;*/


                            }
                           /*node.combo.setComboValue(value||"");*/
                        },
                        get_value: function(node,ev){
                            //return node.combo.getActualValue();
                        },
                        focus: function(node){
                            //node.combo.DOMelem_input.focus();
                        }
                    }

                    scheduler.form_blocks["contact_view"]={
                        render:function(sns){
                            var html = '<div class="dhx_cal_ltext" style="height:100px;">';
                            /*html += '<input type="text" placeholder="Phone" size="25" class="search" id="phone">&nbsp;';
                            html += '<input type="text" placeholder="Email Address" size="32" id="email"></div>';*/
                            html += '<select multiple="multiple" id="a" /></select></div>';
                            return html;
                        },
                        set_value:function(node,value,ev){
                            /*node.childNodes[0].value=value||"";
                            $.each(node.childNodes, function(index, item) {
                                if ($(item).attr("id") == "email") {
                                    node.childNodes[index].value=ev.email||"";
                                }
                            });*/
                        },
                        get_value:function(node,ev){
                           /* $.each(node.childNodes, function(index, item) {
                                if ($(item).attr("id") == "email") {
                                    ev.email = node.childNodes[index].value;
                                }
                            });
                            return node.childNodes[0].value;*/
                        },
                        focus:function(node){
                            //var a=node.childNodes[0]; a.select(); a.focus();
                        }
                    }

                    scheduler.attachEvent("onLightbox", function(event_id) {
                        /*$("#a").select2({
                            placeholder: "Выбор групп",
                            allowClear: true,
                            width: 300,
                            maximumSelectionSize: 2,
                            formatNoMatches: "Не найдена группа",
                            //sortResults: sortingResults
                            *//*placeholder: "Select an option",
                            ajax: {
                                url: "schedule/data?p=group",
                                dataType: 'json',
                                delay: 250,
                                data: function (params) {
                                    return {
                                        q: params.term, // search term
                                        page: params.page
                                    };
                                },
                                processResults: function (data, page) {
                                    return {
                                        results: data.items
                                    };
                                },
                                cache: true
                            },
                            escapeMarkup: function (markup) { return markup; }, // let our custom formatter work
                            minimumInputLength: 1
                           // templateResult: formatRepo, // omitted for brevity, see the source of this page
                           // templateSelection: formatRepoSelection // omitted for brevity, see the source of this page*//*
                        });*/

                        /* $( ".search" ).autocomplete({
                             minLength: 5, // only start searching 5 digits into the phone number
                             source: function( request, response ) {
                                 $.ajax({
                                     url: "clients/search_clients/some_ajax_url",
                                     type: "POST",
                                     dataType: "json",
                                     data: {
                                         contact_number: $("#contact_number").val(),
                                         '677ubdbs7s7busbfisf8sbfs_some_post_token_to_prevent_csrf' : "1"
                                     },
                                     success: function( data ) {
                                         response(jQuery.map(data, function(item) {
                                             return {
                                                 client_id: item.client_id,
                                                 country_id: item.country_id,
                                                 contact_number: item.contact_number,
                                                 email: item.email,
                                                 first_name: item.first_name,
                                                 last_name: item.last_name,
                                                 gender: item.gender,
                                                 dob_day: item.dob_day,
                                                 dob_month: item.dob_month,
                                                 dob_year: item.dob_year,
                                                 client_notes: item.client_notes,
                                                 value: item.contact_number,
                                                 desc: item.first_name + " " + item.last_name
                                             }
                                         }));
                                     }
                                 });
                             },
                             focus: function( event, ui ) {
                                 $( ".search" ).val( ui.item.value );
                                 return false;
                             },
                             select: function( event, ui ) {
                                 $("#contact_number").val( ui.item.contact_number );
                                 $("#country_id").val( ui.item.country_id );
                                 $("#email").val( ui.item.email );
                                 $("#first_name").val( ui.item.first_name );
                                 $("#last_name").val( ui.item.last_name );
                                 $("#client_id").val( ui.item.client_id );
                                 $("#gender").val( ui.item.gender );
                                 $("#dob_day").val( ui.item.dob_day );
                                 $("#dob_month").val( ui.item.dob_month );
                                 $("#dob_year").val( ui.item.dob_year );
                                 $("#client_notes").val( ui.item.client_notes );
                                 return false;
                             }
                         }).autocomplete( "instance" )._renderItem = function( ul, item ) {
                             return $( "<li>" )
                                     .data( "item.autocomplete", item )
                                     .append( "<a>" + item.contact_number + "<br><small>" + item.desc + "</small></a>" )
                                     .appendTo( ul );
                         };*/
                    });

                    /*scheduler.form_blocks["my_editor"] = {
                        render:function(sns) {
                            return "<div class='dhx_cal_ltext' style='height:60px;'><select data-tags='true' data-placeholder='Select an option' id='select-subject'></select></div>";
                        },
                        set_value:function(node, value, ev) {
                            *//*node.childNodes[1].value = value || "";
                            node.childNodes[4].value = ev.details || "";*//*
                        },
                        get_value:function(node, ev) {
                            *//*ev.details = node.childNodes[4].value;
                            return node.childNodes[1].value;*//*
                        },
                        focus:function(node) {
                            *//*var a = node.childNodes[1];
                            a.select();
                            a.focus();*//*
                        }
                    };*/

                    /*  scheduler.attachEvent("onEventCreated", function(id, e) {
                          *//*var ev = scheduler.getEvent(id);
                        ev.my_template = "<b>Holder:</b>"+ ev.holder+"<br><b>Room:</b>"+ ev.room;*//*
                        var ev = scheduler.getEvent(id);*/
                        /*$("#select-subject").select2({
                            placeholder: "Выберите предмет",
                            allowClear: true,
                            width: 300,
                            maximumSelectionSize: 2,
                            formatNoMatches: "Не найден такой предмет",
                            sortResults: sortingResults
                        }).on("select2-selecting", function(e) {
                            var selectorSubject = $("#formCreateOrder_selectorSubject");
                             hidePopover(selectorSubject);
                        });*/
                       /* ev.my_template = '<select class="js-example-basic-multiple" multiple="multiple">'+
                                '<option value="AL">Alabama</option>'+
                                '<option value="WY">Wyoming</option>'+
                                '</select>';
                    });*/

                    scheduler.templates.hour_scale = function(date){
                        var html = "";
                        for (var i = 0; i < 60 / step; i++){
                            html += "<div style='height:22px;line-height:22px;'>" + format(date) + "</div>";
                            date = scheduler.date.add(date, step, "minute");
                        }
                        return html;
                    };
                    scheduler.init('scheduler_here', null, "week");
                    /*scheduler.load("schedule/data");
                    var dp = new dataProcessor("schedule/data");
                    dp.init(scheduler);*/



                    //$("#formProfile_fieldOptions").val('profile');
                    //$("#messages-options").val('profile');
                    $('div.btn-group[data-toggle-name]').eq(0).each(function () {
                        var group = $(this),
                        //form = group.parents('form').eq(0),
                                name = 'formProfile[fieldOptions]',
                        //hidden = $('input[name="' + name + '"]', form);
                                hidden = $('input[name="' + name + '"]');
                        $('button', group).each(function () {
                            var button = $(this);
                            button.on('click', function () {
                                hidden.val($(this).val());
                                group.find('.active').removeClass('active');
                                if (button.val() == hidden.val()) {
                                    button.addClass('active');
                                }
                                if (hidden.val() == 'messages') {
                                    initGridMessages();
                                    $("#block-form-profile").hide();
                                    $("#block-messages").show();
                                    $("#block-messages-sort").show();
                                } else {
                                    $("#block-form-profile").show();
                                    $("#block-messages").hide();
                                    $("#block-talk").hide();
                                    $("#block-messages-sort").hide();
                                }
                            });
                        });
                    });
                    $('div.btn-group[data-toggle-name]').eq(1).each(function () {
                        var group = $(this),
                        //form = group.parents('form').eq(0),
                                name = 'formProfile[fieldOptions]',
                        //hidden = $('input[name="' + name + '"]', form);
                                hidden = $('input[name="' + name + '"]');
                        group.find('.active').removeClass('active');
                        $('button', group).each(function () {
                            var button = $(this);
                            button.on('click', function () {
                                hidden.val($(this).val());
                                group.find('.active').removeClass('active');
                                if (button.val() == hidden.val()) {
                                    button.addClass('active');
                                }
                            });
                        });
                    });
                });
            </script>
        {% endblock %}